<ion-card>
  <swiper-container
  pagination="true" 
  pagination-clickable="true"
  autoplay-delay="3000"
  autoplay-disable-on-interaction="false"
  loop="true"
  >
    <swiper-slide>
      <img src="assets/img/avengers.jpeg" alt="Película 1" />
    </swiper-slide>
    <swiper-slide>
      <img src="assets/img/fast&furious.jpg" alt="Película 2" />
    </swiper-slide>
    <swiper-slide>
      <img src="assets/img/lordOfTheRings.png" alt="Película 3" />
    </swiper-slide>
  </swiper-container>
</ion-card>